<div id="overlay" onclick="off()" class="centered">
<span class="st"> Keyboard Shortcuts</span><br />
<table cellpadding="0" class="ts">
    <tbody>
        <tr>
            <td class="cl"><span class="wh">g</span> <span class="wb">+</span> <span class="wh">h</span> :</td>
            <td class="cr">Home</td>
        </tr>
        <tr>
            <td class="cl"><span class="wh">g</span> <span class="wb">+</span> <span class="wh">b</span> :</td>
            <td class="cr">Blog</td>
        </tr>
        <tr>
            <td class="cl"><span class="wh">g</span> <span class="wb">+</span> <span class="wh">c</span> :</td>
            <td class="cr">Cheat Sheets</td>
        </tr>
        <tr>
            <td class="cl"><span class="wh">g</span> <span class="wb">+</span> <span class="wh">t</span> :</td>
            <td class="cr">MacOS Tips</td>
        </tr>
        <tr>
            <td class="cl"><span class="wh">g</span> <span class="wb">+</span> <span class="wh">a</span> :</td>
            <td class="cr">About</td>
        </tr>
        <tr>
            <td class="cl"><span class="wh">j</span> <span class="wb">/</span> <span class="wh">k</span> :</td>
            <td class="cr">Up/Down</td>
        </tr>
        <tr>
            <td class="cl"><span class="wh">h</span> <span class="wb">/</span> <span class="wh">l</span> :</td>
            <td class="cr">Next/Previous</td>
        </tr>
        <tr>
            <td class="cl"><span class="wh">?</span> :</td>
            <td class="cr">Help</td>
        </tr>
    </tbody>
</table>
</div>
