<div class="box-shortcuts">
  <b> Keyboard Shortcuts:</b> <br /><br />
  <b>g + h</b>: Home <br />
  <b>g + b</b>: Blog <br />
  <b>g + c</b>: Cheat Sheets <br /> 
  <b>g + t</b>: MacOS Tips <br /> 
  <b>g + a</b>: About <br />
  <b>j / k</b>: Up/Down <br /> 
  <b>h / l</b>: Next/Previous <br />
  <b>&nbsp;&nbsp;&nbsp;&nbsp;?: Help <br />
</div>

<style>
#overlay {
  position: fixed;
  display: none;
  width: auto;
  height: auto;
  background-color: #0d0d0d;
  opacity:0.8;
  z-index: 2;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table.ts td {
  padding: 1px 10px;
  line-height: 0.9em;
}

table.ts td.cl {
  font-weight: bold;
  padding-right: .5em;
  text-align: right;
  white-space: nowrap;
  font-family: Monaco, "Bitstream Vera Sans Mono";
  color: #fff;
}

table.ts td.cr {
  font-family: Monaco, "Bitstream Vera Sans Mono";
  color: #fff;
}

span.wh {
  color: #057505;
}

span.st {
  font-family: Monaco, "Bitstream Vera Sans Mono";
  font-size: 1.4em;
  line-height: 1.2;
  float: left;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #fff;
}
</style>

<div id="overlay" onclick="overlayOff()" class="centered">
<span class="st"> Keyboard Shortcuts</span><br />
<table cellpadding="0" class="ts">
    <tbody>
        <tr>
            <td class="cl"><span class="wh">g</span> <span class="wb">+</span> <span class="wh">h</span> :</td>
            <td class="cr">Home</td>
        </tr>
        <tr>
            <td class="cl"><span class="wh">g</span> <span class="wb">+</span> <span class="wh">b</span> :</td>
            <td class="cr">Blog</td>
        </tr>
        <tr>
            <td class="cl"><span class="wh">g</span> <span class="wb">+</span> <span class="wh">c</span> :</td>
            <td class="cr">Cheat Sheets</td>
        </tr>
        <tr>
            <td class="cl"><span class="wh">g</span> <span class="wb">+</span> <span class="wh">t</span> :</td>
            <td class="cr">MacOS Tips</td>
        </tr>
        <tr>
            <td class="cl"><span class="wh">g</span> <span class="wb">+</span> <span class="wh">a</span> :</td>
            <td class="cr">About</td>
        </tr>
        <tr>
            <td class="cl"><span class="wh">j</span> <span class="wb">/</span> <span class="wh">k</span> :</td>
            <td class="cr">Up/Down</td>
        </tr>
        <tr>
            <td class="cl"><span class="wh">h</span> <span class="wb">/</span> <span class="wh">l</span> :</td>
            <td class="cr">Next/Previous</td>
        </tr>
        <tr>
            <td class="cl"><span class="wh">?</span> :</td>
            <td class="cr">Help</td>
        </tr>
    </tbody>
</table>
</div>

<script>
function overlayOn() {
    document.getElementById("overlay").style.display = "block";
}

function overlayOff() {
    document.getElementById("overlay").style.display = "none";
}
</script>
