---
layout: default
permalink: /tips/categories/
title: Categories
---

<div id="archives"> 
{% for category in site.tips-categories %}
  <div class="archive-group">
    <a name="{{ category }}"></a>

    <p></p>
    <h3 class="category-head">{{ category }}</h3>

    <ul class="posts">
    {% assign tips = site.tips | where: "categories", category %}
    {% for tip in tips %}
      <li><span>{{ page.date | date_to_string }}</span> » <a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
  <div class="archive-group">
{% endfor %}
</div>
