---
layout: default
permalink: /tips/categories/
title: Categories
---

<div id="archives"> 
{% for category in site.tips-categories %}
  <div class="archive-group">
    <a name="{{ category }}"></a>

    <p></p>
    <h3 class="category-head">{{ category }}</h3>

    <ul class="posts">
    {% assign tips = site.tips | where: "categories", category %}
    {% for tip in tips %}
      {{ tip.title }}
      {{ tip.categories }}
      {{ tip.date }}
      {{ tip.url }}
    {% endfor %}
    </ul>
    
  <div class="archive-group">
{% endfor %}
</div>
