---
layout: default
permalink: /tips/categories/
title: Categories
---

<div id="archives"> 
{% for category in site.tips-categories %}
  <div class="archive-group">
    <a name="{{ category }}"></a>

    <p></p>
    <h3 class="category-head">{{ category }}</h3>

    <ul class="posts">
    {% assign tips = site.tips | where: "categories", category %}
    {% for tip in tips %}
      <li>
        <span>
          {{ tip.date | date_to_string }}
        </span> 
        » 
        <a href="{{ tip.url }}" title="{{ tip.title }}">{{ tip.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>    <!-- End div archive-group -->
{% endfor %}
</div>    <!-- End div archives -->
