<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>Site title</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>Header 1</h1>
        <h2>header 2</h2>

        <section id="navMenu">
          <a href="/" class="btn btn-home"><span class="icon"></span>Home</a>		
          <a href="/blog" class="btn btn-blog"><span class="icon"></span>Blog</a>
          <a href="/about" class="btn btn-about"><span class="icon"></span>About</a>		
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
	  
  </body>
</html>
